.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
}
.a-right{
    flex: 1;
    text-align: left;
}
.a-title{
    font-size: 36px;
    font-weight: bold;
}
.a-card.bg{
    position: absolute;
    background-color: rgb(219, 164, 164);
    top: 30px;
    left: 85px;
    filter: blur(19px);
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
   
}
.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Media query */
@media screen and (max-width: 480px) {
    .a{
        flex-direction: column ;
        align-items: center;
        margin-top: 50px;
    }    

    .a-left{
        width: 100%;
    }
    .a-card{
        height: 30vh;
    }
    .a-card.bg{
        display: none;
    }
    .a-right{
        padding: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 780px) {
    /* .a{
        flex-direction: column ;
        align-items: center;
        margin-top: 50px;
    }    */ 

    .a-left{
        width: 100%;
    }
    .a-card{
        height: 50vh;
        margin-top: 130px;
        width: 90%;
        
    } 
    .a-card.bg{
        display: none;
    }
    /* .a-right{
        padding: 20px;
        text-align: left;
    } */
}